<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Schools management</title>
</head>
<body>
    <header>Schools management</header>
  <main>
    {{{body}}}
  </main>
  <nav>
    <h4>Navigation.</h4>
    <hr>
    <a href="/">Home</a>
    <br>
    <a href="/schools">All schools</a>
    <br>
    <a href="/add">Add school</a>
    <br>
    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
    <br>
    <a href="/help">Help</a>
  </nav>
  <aside>
    <h4>This is an aside section.</h4>
  </aside>
  <footer>This is the footer.</footer>
</body>
