<h1>Are you sure you want to delete?</h1>
<div>
    <form method="POST" action="">
        <label for="name">Scool name:</label>
        <input type="text" name="name" id="name" value="{{name}}" readonly>
        <br>
        <label for="eduLevel">Education Level:</label>
        <input type="text" name="eduLevel" id="eduLevel" value="{{eduLevel}}" readonly>
        <br>
        <label for="studentNumber">Number of students:</label>
        <input type="number" min="0" name="studentNumber" id="studentNumber" value="{{studentNumber}}" readonly>
        <br>
        <label for="headMaster">The schools headmaster:</label>
        <input type="text" name="headMaster" id="headMaster" value="{{headMaster}}" readonly>
        <br>
        <button type="submit">Delete</button>


    </form>
</div>


