<div>
    <form method="POST" action="">
        <label for="name">Scool name:</label>
        <input type="text" name="name" id="name" value="{{name}}" required>
        <br>
        <label for="eduLevel">Education Level:</label>
        <input type="text" name="eduLevel" id="eduLevel" value="{{eduLevel}}">
        <br>
        <label for="studentNumber">Number of students:</label>
        <input type="number" min="0" name="studentNumber" id="studentNumber" value="{{studentNumber}}" required>
        <br>
        <label for="headMaster">The schools headmaster:</label>
        <input type="text" name="headMaster" id="headMaster" value="{{headMaster}}">
        <br>
        <button type="submit">Submit</button>


    </form>
</div>


